.choose-program {
  position: relative;
  width: 320px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    display: block;
    width: 320px;
    height: 305px;
    background-color: $primary-color;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }
}

.choose-program-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
}

.choose-program__title {
  width: 320px;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

.choose-program__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.choose-program__button {
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .choose-program {
    width: auto;

    &::before {
      display: none;
    }
  }

  .choose-program-wrapper {
    align-items: flex-start;
    padding-top: 53px;
    padding-left: 90px;
  }

  .choose-program__title {
    width: 420px;
    margin-bottom: 42px;
    font-size: 60px;
    line-height: 60px;
    color: $main-text-color;
    text-align: left;
  }

  .choose-program__img {
    position: absolute;
    z-index: -1;
    top: 255px;
    left: 0;
    order: 2;
  }

  .choose-program__subtitle {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    color: $main-text-color;
    text-align: left;
  }

  .choose-program__button {
    width: 245px;
    padding: 16px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .choose-program {
    position: static;

    &::before {
      position: absolute;
      z-index: -1;
      top: 0;
      display: block;
      width: 50%;
      height: 696px;
      background-color: #64a83b;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: right;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px auto;
      }
    }
  }

  .choose-program-wrapper {
    padding-left: 80px;
    padding-top: 104px;
  }

  .choose-program__subtitle {
    margin-bottom: 51px;
  }

  .choose-program__img {
    top: 23px;
    left: 450px;
  }
}
