.page-main__choose-program {
  margin-bottom: 23px;
}

.page-main__production {
  margin-bottom: 16px;
}

.page-main__advantages {
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .page-main__choose-program {
    margin-bottom: 20px;
    padding-bottom: 509px;
  }

  .page-main__production {
    margin-bottom: 45px;
  }

  .page-main__advantages {
    margin-bottom: -32px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__choose-program {
    padding-bottom: 250px;
  }
}
