.production__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.production__item {
  margin-bottom: 20px;
  padding: 0 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: $secondary-color;
}

.production__title {
  position: relative;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 50%;
  }

  &--slim {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: -8px;
      left: 10px;
      display: block;
      width: 35px;
      height: 49px;
      background: url("../img/icon-cat-slim.svg") no-repeat;
    }
  }

  &--pro {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 5px;
      left: -10px;
      display: block;
      width: 67px;
      height: 28px;
      background: url("../img/icon-cat-pro.svg") no-repeat;
    }
  }
}

.production__text {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin: 22px 0;
    background-color: #d9d9d9;
  }
}

.production__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  color: $main-text-color;
  text-transform: uppercase;

  &::after {
    content: "";
    display: block;
    width: 24px;
    height: 11px;
    margin-left: 10px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat;
  }

  &:hover,
  &:focus {
    &::after {
      width: 33px;
      background: url("../img/icon-right-arrow-long.svg") no-repeat;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .production__item {
    width: 708px;
    margin-bottom: 31px;
    padding: 0 52px;
    padding-top: 77px;
    padding-bottom: 61px;
  }

  .production__title {
    margin-bottom: 24px;
    padding: 0;
    font-size: 36px;
    line-height: 37px;

    &::before {
      top: 15px;
      left: 395px;
      width: 200px;
      height: 200px;
    }

    &--slim {
      &::after {
        top: 5px;
        left: 425px;
        width: 140px;
        height: 194px;
      }
    }

    &--pro {
      &::after {
        top: 58px;
        left: 360px;
        width: 268px;
        height: 112px;
      }
    }
  }

  .production__text {
    width: 375px;
    margin-bottom: 57px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      display: none;
    }

    &--pro {
      width: 340px;
    }
  }

  .production__link {
    font-size: 20px;
    line-height: 20px;

    &::after {
      margin-left: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .production__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .production__item {
    width: 570px;
  }

  .production__title {
    margin-bottom: 72px;
    padding-left: 162px;

    &::before {
      top: -32px;
      left: 0;
      width: 100px;
      height: 100px;
    }

    &--slim {
      &::after {
        top: -37px;
        left: 14px;
        width: 70px;
        height: 97px;
      }
    }

    &--pro {
      &::after {
        top: -10px;
        left: -18px;
        width: 134px;
        height: 56px;
      }
    }
  }

  .production__text {
    width: 465px;
    margin-bottom: 31px;
  }
}
