.main-nav {
  position: relative;
  z-index: 1;
  opacity: 1;
}

.js .main-nav {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 65px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -20px;
    display: block;
    width: 320px;
    height: 1px;
    background-color: #e6e6e6;
  }
}

.main-nav__link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: $main-text-color;

  &:not(.main-nav__link--current) {
    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.js .main-nav--open {
  position: relative;
  z-index: 1;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    z-index: 1;
    opacity: 1;
  }

  .js .main-nav {
    position: relative;
    z-index: 1;
    opacity: 1;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 440px;
  }

  .main-nav__item {
    &::after {
      display: none;
    }
  }

  .main-nav__link {
    position: relative;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;

    &--current {
      &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        display: block;
        width: 100%;
        height: 2px;
        background-color: $primary-color;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 480px;
  }

  .main-nav__link {
    font-size: 20px;
    color: #ffffff;

    &--current {
      &::after {
        background-color: #ffffff;
      }
    }
  }

  .main-nav__link--black {
    color: $main-text-color;

    &::after {
      background-color: $primary-color;
    }
  }
}
