.logo:not(.logo--index) {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 66px;
  border-bottom: 1px solid #e6e6e6;
}

.logo--footer {
  display: block;
  text-align: center;
}
