.page-footer {
  padding-top: 35px;
  background-color: $secondary-color;
}

.page-footer__logo {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 42px 0;
  }
  .page-footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-self: center;
  }

  .page-footer__logo {
    margin-bottom: 0;
  }
}
