.other-catalog__title {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  padding-top: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.other-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.other-catalog__gift-wrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  min-width: 280px;
  min-height: 289px;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 40px 55px;
  background-color: $primary-color;
  background-image: url("../../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 65px;
    left: 50%;
    margin-left: -27px;
    display: block;
    width: 55px;
    height: 60px;
    background: url("../../../img/icon-gift.svg") no-repeat;
  }
}

.other-catalog__gift {
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
