.advantages__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;
}

.advantages__text {
  margin: 0;
  padding: 0;
  padding-left: 80px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background-color: $primary-color;
  }

  &--first {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 5px;
      left: 5px;
      display: block;
      width: 50px;
      height: 50px;
      background: url("../img/advantage-leaf@1x.png");
    }
  }

  &--second {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 5px;
      left: 5px;
      display: block;
      width: 50px;
      height: 50px;
      background: url("../img/advantage-powder@1x.png");
    }
  }

  &--third {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 5px;
      left: 5px;
      display: block;
      width: 50px;
      height: 50px;
      background: url("../img/advantage-dining@1x.png");
    }
  }

  &--fourth {
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 5px;
      left: 5px;
      display: block;
      width: 50px;
      height: 50px;
      background: url("../img/advantage-clock@1x.png");
    }
  }
}
