.catalog__title {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 31px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__show-all {
  position: relative;
  margin-top: -1px;
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 78px;
  padding-left: 20px;
  border: 1px solid #ededed;

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 50%;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    background: url("../img/icon-plus-mobile.svg") no-repeat;
    opacity: 0.2;
  }
}

.catalog__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.catalog__text {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  color: $secondary-text-color;
  text-align: center;
}

.catalog__button {
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    padding-top: 54px;
    padding-bottom: 77px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__show-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 324px;
    margin: 0;
    padding: 0;
    margin-top: 88px;
    padding-top: 164px;

    &::before {
      top: 55px;
      width: 60px;
      height: 60px;
      margin-left: -30px;
    }
  }

  .catalog__subtitle {
    width: 140px;
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 20px;
  }

  .catalog__text {
    width: 170px;
    margin-bottom: 85px;
    font-size: 16px;
    line-height: 20px;
  }

  .catalog__button {
    width: 249px;
    margin-bottom: 37px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__title {
    padding-top: 70px;
  }

  .catalog__list {
    justify-content: flex-start;
    margin-left: -80px;
  }

  .catalog__item {
    margin-left: 80px;
  }

  .catalog__show-all {
    width: 245px;
  }

  .catalog__button {
    width: 169px;
  }
}
