.before-after {
  padding-top: 20px;
  background-color: $secondary-color;
}

.before-after-wrapper {
  overflow: hidden;
}

.before-after__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.before-after__text {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 18px;
  color: $secondary-text-color;
}

.before-after__result-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.before-after__result {
  position: relative;
  width: 125px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;

  &::before {
    position: absolute;
    z-index: 1;
    top: -15px;
    content: "";
    width: 125px;
    height: 57px;
    display: block;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
  }
}

.before-after__value {
  margin: 0;
  padding: 0;
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.before-after__name {
  position: relative;
  z-index: 2;
  display: inline-flex;
  justify-content: center;
  width: 87px;
  margin: 0;
  padding: 0;
  padding-right: 15px;
  padding-left: 15px;
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  color: $secondary-text-color;
  background-color: $secondary-color;
}

.before-after__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;
  text-align: center;
  text-transform: uppercase;
}

.before-after__img {
  position: absolute;
  z-index: -1;
  width: 0;
  opacity: 0;
}

.before-after__img--current {
  position: relative;
  z-index: 1;
  left: -20px;
  width: 320px;
  margin-bottom: 30px;
  opacity: 1;
}

.before-after__toggle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 35px;
}

.before-after__toggle-text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.before-after__toggle {
  position: relative;
  width: 84px;
  height: 14px;
  margin-right: 20px;
  margin-left: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 7px;
  background-color: #ffffff;
  cursor: pointer;

  &--left {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      left: 6px;
      display: block;
      width: 35px;
      height: 6px;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 7px;
    }
  }

  &--right {
    &::before {
      content: "";
      position: absolute;
      top: 3px;
      right: 6px;
      display: block;
      width: 35px;
      height: 6px;
      background-color: $primary-color;
      border: 1px solid $primary-color;
      border-radius: 7px;
    }
  }
}

@media (min-width: $tablet-width) {
  .before-after {
    padding-top: 43px;
    border-top: 1px solid #e6e6e6;
    background: linear-gradient(to bottom, #ffffff 620px, #f2f2f2 620px);
    background-color: #ffffff;
  }

  .before-after-wrapper-left {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .before-after-wrapper-right {
    min-height: 633px;
  }

  .before-after__title {
    margin-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  .before-after__text {
    margin-bottom: 67px;
    font-size: 16px;
    line-height: 24px;
  }

  .before-after__subtitle-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .before-after__result-wrapper {
    width: 366px;
  }

  .before-after__result {
    width: 162px;

    &::before {
      width: 162px;
      height: 72px;
    }
  }

  .before-after__value {
    margin-bottom: 8px;
    font-size: 30px;
    line-height: 37px;
  }

  .before-after__name {
    width: auto;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
  }

  .before-after__subtitle {
    width: 192px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;

    &--margin {
      display: block;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .before-after {
    padding-top: 0;
    border: none;
    background: linear-gradient(to bottom, #ffffff 190px, #f2f2f2 190px);
  }

  .before-after-wrapper {
    display: flex;
  }

  .before-after-wrapper-left {
    width: 570px;
    margin-bottom: 35px;
  }

  .before-after-wrapper-right {
    width: 650px;
  }

  .before-after__title {
    margin-bottom: 145px;
    padding-top: 55px;
  }

  .before-after__text {
    width: 435px;
    margin-bottom: 82px;
  }

  .before-after__subtitle-wrapper {
    flex-direction: column;
  }

  .before-after__result-wrapper {
    margin-bottom: 35px;
  }

  .before-after__subtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 325px;
  }

  .before-after__name {
    background-color: $secondary-color;
  }
}
