.adress {
  background-color: #ffffff;

  &--gray {
    background-color: $secondary-color;
  }
}

.adress__title-wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
}

.adress__title {
  min-width: 140px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.adress__text {
  min-width: 140px;
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  line-height: 20px;
  color: $secondary-text-color;
}

.adress__map-wrapper {
  position: relative;
  display: flex;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 62px;
    height: 53px;
    margin-top: -26px;
    margin-left: -31px;
    background: url("../img/map-pin.png") no-repeat;
    background-size: cover;
  }
}

.adress__map {
  display: block;
  height: 362px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .adress__title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-right: 41px;
    padding-bottom: 57px;
    padding-left: 41px;
  }

  .adress__title {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .adress__text {
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &--margin {
      display: block;
      margin-bottom: 20px;
    }
  }

  .adress__map {
    height: 396px;
  }
}
