.adress {
  background-color: #ffffff;

  &--gray {
    background-color: $secondary-color;
  }
}

.adress__title-wrapper {
  display: flex;
  padding-top: 30px;
  padding-bottom: 25px;
}

.adress__title {
  min-width: 140px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.adress__text {
  min-width: 140px;
  margin: 0;
  padding: 0;
  font-family: $secondary-font;
  line-height: 20px;
  color: $secondary-text-color;
}

.adress__map-wrapper {
  position: relative;
  height: 362px;
  background-color: $secondary-color;
}

.adress__map-interactive {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 362px;
}

.adress__map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  margin-left: -160px;
}

.adress__map-img {
  display: block;
}

.adress__map-pin {
  position: absolute;
  left: 50%;
  margin-left: -160px;
  width: 320px;
  height: 362px;

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 140px;
    left: 129px;
    display: block;
    width: 62px;
    height: 53px;
    background: url("../img/map-pin.png") no-repeat;
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .adress__title-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-right: 41px;
    padding-bottom: 53px;
    padding-left: 41px;
  }

  .adress__title {
    width: 155px;
    font-size: 20px;
    line-height: 25px;
  }

  .adress__text {
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .adress__text-margin {
    display: block;
    margin-bottom: 20px;
  }

  .adress__map-wrapper {
    min-width: 767px;
    height: 400px;
  }

  .adress__map-interactive {
    height: 400px;
  }

  .adress__map {
    margin-left: -384px;
  }

  .adress__map-img {
    height: 400px;
  }

  .adress__map-pin {
    width: 768px;
    height: 400px;
    margin-left: -384px;

    &::before {
      top: 150px;
      left: 323px;
      width: 124px;
      height: 106px;
    }
  }
}

@media (min-width: $desktop-width) {
  .adress {
    position: relative;
  }

  .adress__title-wrapper {
    position: absolute;
    z-index: 2;
    top: 97px;
    width: 570px;
    padding-right: 89px;
    padding-left: 75px;
    background-color: #ffffff;
  }

  .adress__text {
    text-align: left;
  }

  .adress__map {
    margin-left: -720px;
  }

  .adress__map-pin {
    width: 1300px;
    margin-left: -720px;

    &::before {
      top: 155px;
      left: 995px;
    }
  }

  .adress__map-img {
    width: 100%;
  }
}
