$primary-font: "Oswald", "Arial", sans-serif;
$secondary-font: "Arial", sans-serif;

$green: #68b738;
$black: #111111;
$gray: #f2f2f2;
$gray--dark: #444444;

$primary-color: $green;
$secondary-color: $gray;
$main-text-color: $black;
$secondary-text-color: $gray--dark;

$tablet-width: 768px;
$desktop-width: 1440px;
