.other-product {
  margin-top: -1px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

.other-product__name {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  padding-top: 14px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: $main-text-color;
}

.other-product__row {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  min-width: 138px;
}

.other-product__column {
  margin: 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $secondary-text-color;
}

.other-product__button {
  margin-bottom: 16px;
}
