.copyright {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $secondary-text-color;
}

.copyright:hover .copyright__logo,
.copyright:focus .copyright__logo {
  fill: $primary-color;
}

.copyright:active {
  opacity: 0.3;
}


@media (min-width: $tablet-width) {
  .copyright {
    width: 162px;
    padding: 0;
  }
}
