.copyright {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright:hover .copyright__logo,
.copyright:focus .copyright__logo {
  fill: $primary-color;
}

.copyright:active {
  opacity: 0.3;
}
